<!-- extends basic page.html -->
{% extends "page.html" %}
{% block content %}

<style>
    /* custom form styles */
    label {
        width: 100%;
    }
</style>

<!-- This is for admins AKA ComSSA people to manage all of the bookings.
     We have extra stuffs but I (sean) will add as needed, use the
     user page for now. -->
<main class="container">
    <h1>Booking - Admin</h1>
    <a href="/admin/bookings/view">View Bookings</a> - 
    <a href="/bookings/view">View Mentor Bookings</a>
    <!-- <button onclick="deleteBookings()">Delete All Bookings</button> -->
    <!-- <button onclick="deleteBookingTypes()">Delete All Types</button> -->

    <form action="/api/v1/bookings/session_type" id="createSessionTypeForm" class="my-3 pb-2">
        <div class="form-group">
            <label for="name">Session Type Name</label>
            <input id="sessionTypeName" type="text" name="name" placeholder="Session Type Name" class="form-control">
        </div>
        <input type="submit" value="Create Session Type" class="btn btn-primary">
    </form>

    <!-- div to list all session types -->
    <h2>Current Session Types</h2>
    <div id="sessionTypes"></div>

    <!-- form for creating a new booking type -->
    <form action="/api/v1/bookings/session" id="createSessionForm" class="my-3 pb-5">
        <div class="form-group">
            <label for="name">Booking Type Name</label>
            <input id="bookingName" type="text" name="name" placeholder="Booking Type Name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Booking Type Description:</label>
            <textarea id="bookingDesc" name="description" placeholder="Booking Type Description" class="form-control"></textarea>
        </div>
        <!-- checkbox for day 1 or 2 -->
        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" id="bookingDay" name="day">
            <label class="form-check-label" for="day">
                Check for workshop / Uncheck for mentor
            </label>
        </div>
        <input type="submit" value="Create Booking Type" class="btn btn-primary">
    </form>

    <!-- div to list all booking types -->
    <h2>Current Booking Types</h2>
    <div id="bookingTypes"></div>
</main>

<script>
    const csrf = init.csrfNonce;

    // on ready, get all booking types
    document.addEventListener("DOMContentLoaded", function() {
        getSessionTypes();
        getBookingTypes();
    });

    async function getSessionTypes() {
        const response = await fetch('/api/v1/bookings/session_type', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        console.log(json);
        
        const sessionTypes = document.getElementById("sessionTypes");
        sessionTypes.innerHTML = "";

        for (const sessionType of json.data) {
            const sessionTypeDiv = document.createElement("div");
            sessionTypeDiv.innerHTML = `
                <form action="/api/v1/bookings/session_type/${sessionType.id}" data-id="${sessionType.id}" class="my-3 pb-2">
                    <h3>Session Type #${sessionType.id}</h3>
                    <input type="hidden" name="id" value="${sessionType.id}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="sessionTypeName" type="text" name="name" value="${sessionType.name}" placeholder="Name" class="form-control">
                    </div>
                    <input type="submit" value="Update Session Type" class="btn btn-primary">
                    <input type="submit" value="Delete Session Type" class="btn btn-danger">
                </form>
            `;
            sessionTypes.appendChild(sessionTypeDiv);
            sessionTypeDiv.addEventListener("submit",
                function(event) {
                    event.preventDefault();
                    const id = sessionTypeDiv.querySelector("input[name=id]").value;
                    const name = sessionTypeDiv.querySelector("#sessionTypeName").value;
                    let mode = "update";
                    if (event.submitter.value == "Delete Session Type") {
                        mode = "delete";
                    }
                    individualSessionTypeCallback(id, name, mode);
                }
            );
        }
    }

    async function individualSessionTypeCallback(id, name, mode) {
        if (mode == "delete") {
            const response = await fetch('/api/v1/bookings/session_type', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': csrf
                },
                body: JSON.stringify({
                    "id": id
                })
            });
            const json = await response.json();
            if (json.success) {
                const element = document.getElementById("sessionTypes").querySelector(`form[data-id="${id}"]`).parentElement;
                element.remove();
            }
        } else {
            const response = await fetch('/api/v1/bookings/session_type', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': csrf
                },
                body: JSON.stringify({
                    "id": id,
                    "name": name
                })
            });
        }
    }

    async function getBookingTypes() {
        // get req to /api/v1/bookings/types
        const response = await fetch('/api/v1/bookings/types', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        // display booking types
        const bookingTypes = document.getElementById("bookingTypes");
        bookingTypes.innerHTML = "";
        // generate mini form for each, with editable name and description (shows id at left).
        // also has a delete button
        for (const bookingType of json.data) {
            const bookingTypeDiv = document.createElement("div");
            bookingTypeDiv.innerHTML = `
                <form action="/api/v1/bookings/types/${bookingType.id}" class="my-3 pb-5">
                    <h3>Booking #${bookingType.id}</h3>
                    <input type="hidden" name="id" value="${bookingType.id}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="bookingName" type="text" name="name" value="${bookingType.name}" placeholder="Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea id="bookingDesc" name="description" placeholder="Description" class="form-control">${bookingType.description}</textarea>
                    </div>
                    <!-- checkbox for day 1 or 2 -->
                    <div class="form-check form-group">
                        <input class="form-check-input" type="checkbox" ${bookingType.day == 1 ? "checked" : ""} id="bookingDay" name="day">
                        <label class="form-check-label" for="day">
                            Check for workshop / Uncheck for mentor
                        </label>
                    </div>
                    <input type="submit" value="Update Booking Type" class="btn btn-primary">
                    <input type="submit" value="Delete Booking Type" class="btn btn-danger">
            `;
            bookingTypes.appendChild(bookingTypeDiv);
            // add listener to form
            bookingTypeDiv.addEventListener("submit",
                function(event) {
                    event.preventDefault();
                    // get name and description from form
                    const id = bookingTypeDiv.querySelector("input[name=id]").value;
                    const name = bookingTypeDiv.querySelector("#bookingName").value;
                    const description = bookingTypeDiv.querySelector("#bookingDesc").value;
                    const day = bookingTypeDiv.querySelector("#bookingDay").checked ? 1 : 2;
                    let mode = "update";
                    // check if delete was clicked
                    if (event.submitter.value == "Delete Booking Type") {
                        mode = "delete";
                    }
                    individualBookingTypeCallback(id, name, description, day, mode);
                }
            );
            
        }
    }

    async function individualBookingTypeCallback(id, name, description, day, mode) {
        // if mode is delete, make delete req
        if (mode == "delete") {
            const response = await fetch('/api/v1/bookings/types', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': csrf
                },
                body: JSON.stringify({
                    "id": id,
                    "name": name,
                    "description": description,
                    "day": day
                })
            });
            const json = await response.json();
            // on success, remove the div
            if (json.success) {
                document.getElementById("bookingTypes").removeChild(document.getElementById("bookingTypes").querySelector(`form[action="/api/v1/bookings/types/${id}"]`).parentElement);
            }
        } else {
            // else make update req
            const response = await fetch('/api/v1/bookings/types', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': csrf
                },
                body: JSON.stringify({
                    "id": id,
                    "name": name,
                    "description": description,
                    "day": day
                })
            });
        }
    }

    document.getElementById("createSessionTypeForm").addEventListener("submit", async function(event) {
        event.preventDefault();
        const data = {
            "name": document.getElementById("sessionTypeName").value
        }
        const response = await fetch('/api/v1/bookings/session_type', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            },
            body: JSON.stringify(data)
        });
        const json = await response.json();
        if (json.success) {
            console.log("YAY!")
        }
    });

    document.getElementById("createSessionForm").addEventListener("submit", async function(event) {
        event.preventDefault();
        const data = {
            "name": document.getElementById("bookingName").value,
            "description": document.getElementById("bookingDesc").value,
            "day": document.getElementById("bookingDay").checked ? 1 : 2
        }
        // post req to /api/v1/bookings
        const response = await fetch('/api/v1/bookings/session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            },
            body: JSON.stringify(data)
        });
        const json = await response.json();
        // on success, get all booking types again
        if (json.success) getBookingTypes();
    });
    
    async function getBookings() {
        // get req to /api/v1/bookings/view
        const response = await fetch('/api/v1/bookings/view', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        console.log(json);
    }

    async function deleteBookings() {
        const response = await fetch('/api/v1/bookings/delete', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        console.log(json);
    }

    async function deleteBookingTypes() {
        const response = await fetch('/api/v1/bookings/types/delete', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
    }
</script>

{% endblock %}