<!-- extends basic page.html -->
{% extends "page.html" %}
{% block content %}

<style>
    /* custom form styles */
    label {
        width: 100%;
    }
</style>

<!-- This is for admins AKA ComSSA people to manage all of the bookings.
     We have extra stuffs but I (sean) will add as needed, use the
     user page for now. -->
<main class="container pb-5">
    <h1>Booking - Admin</h1>
    <a href="/admin/bookings/view">View Bookings</a> - 
    <a href="/bookings/view">View Mentor Bookings</a>
    <!-- <button onclick="deleteBookings()">Delete All Bookings</button> -->
    <!-- <button onclick="deleteBookingTypes()">Delete All Types</button> -->

    <h2>Create Session Type</h2>
    <form action="/api/v1/bookings/session_type" id="createSessionTypeForm" class="my-3 pb-5">
        <div class="form-group">
            <label for="name">Session Type Name</label>
            <input id="sessionTypeName" type="text" name="name" placeholder="Session Type Name" class="form-control">
        </div>
        <div class="form-group">
            <label for="start_date">Start Timestamp</label>
            <input type="datetime-local" name="start_date" placeholder="Start Timestamp" class="form-control">
        </div>
        <div class="form-group">
            <label for="end_date">End Timestamp</label>
            <input type="datetime-local" name="end_date" placeholder="End Timestamp" class="form-control">
        </div>
        <input type="submit" value="Create Session Type" class="btn btn-primary">
    </form>

    <h2>Current Session Types</h2>
    <div id="sessionTypes"></div>

    <h2>Create Session</h2>
    <form action="/api/v1/bookings/session" id="createSessionForm" class="my-3 pb-5">
        <div class="form-group">
            <label for="name">Booking Type Name</label>
            <input type="text" name="name" placeholder="Booking Type Name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Booking Type Description:</label>
            <textarea name="description" placeholder="Booking Type Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="session_type">Session Type:</label>
            <select class="form-control" name="session_type"></select>
        </div>
        <input type="submit" value="Create   Type" class="btn btn-primary">
    </form>

    <h2>Current Sessions</h2>
    <div id="sessions"></div>
</main>

<script>
    const csrf = init.csrfNonce;

    // on ready, get all booking types
    document.addEventListener("DOMContentLoaded", async function() {
        await getSessionTypes();
        await getSessions();
    });

    async function getSessionTypes() {
        const response = await fetch('/api/v1/bookings/session_type', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        if (!json.success) return console.error("Failed to get session types");

        window.sessionTypes = json.data;
        const select = document.getElementById("createSessionForm").querySelector("select[name=session_type]");
        select.innerHTML = "";
        for (const sessionType of json.data) {
            const option = document.createElement("option");
            option.value = sessionType.id;
            option.innerText = sessionType.name;
            select.appendChild(option);
        }
        
        const sessionTypes = document.getElementById("sessionTypes");
        sessionTypes.innerHTML = "";

        for (const sessionType of json.data) {
            const sessionTypeDiv = document.createElement("div");
            sessionTypeDiv.setAttribute("data-id", sessionType.id);
            sessionTypeDiv.innerHTML = `
                <form action="/api/v1/bookings/session_type/${sessionType.id}" class="my-3 pb-4">
                    <h3>Session Type #${sessionType.id}</h3>
                    <input type="hidden" name="id" value="${sessionType.id}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" value="${sessionType.name}" placeholder="Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="start_date">Start Timestamp</label>
                        <input type="datetime-local" name="start_date" value="${sessionType.start_date}" placeholder="Start Timestamp" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="end_date">End Timestamp</label>
                        <input type="datetime-local" name="end_date" value="${sessionType.end_date}" placeholder="End Timestamp" class="form-control">
                    </div>
                    <input type="submit" value="Update Session Type" class="btn btn-primary">
                    <input type="submit" value="Delete Session Type" class="btn btn-danger">
                </form>
            `;
            sessionTypes.appendChild(sessionTypeDiv);
            sessionTypeDiv.addEventListener("submit",
                function(event) {
                    event.preventDefault();
                    const id = sessionTypeDiv.querySelector("input[name=id]").value;
                    const name = sessionTypeDiv.querySelector("input[name=name]").value;
                    const start_date = sessionTypeDiv.querySelector("input[name=start_date]").value;
                    const end_date = sessionTypeDiv.querySelector("input[name=end_date]").value;
                    let mode = "update";
                    if (event.submitter.value == "Delete Session Type") {
                        mode = "delete";
                    }
                    individualSessionTypeCallback(id, name, start_date, end_date, mode);
                }
            );
        }
    }

    async function individualSessionTypeCallback(id, name, start_date, end_date, mode) {
        if (mode == "delete") {
            const response = await fetch('/api/v1/bookings/session_type', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': csrf
                },
                body: JSON.stringify({
                    "id": id
                })
            });
            const json = await response.json();
            if (json.success) {
                const element = document.getElementById("sessionTypes").querySelector(`div[data-id="${id}"]`);
                element.remove();
            }
        } else {
            const response = await fetch('/api/v1/bookings/session_type', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': csrf
                },
                body: JSON.stringify({
                    "id": id,
                    "name": name,
                    "start_date": start_date,
                    "end_date": end_date
                })
            });
        }
    }

    async function getSessions() {
        // get req to /api/v1/bookings/types
        const response = await fetch('/api/v1/bookings/session', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        const bookingTypes = document.getElementById("sessions");
        bookingTypes.innerHTML = "";
        for (const session of json.data) {

            const sessionDiv = document.createElement("div");
            sessionDiv.setAttribute("data-id", session.id);

            let sessionTypesHtml = `<div class="form-group">`;
            for (const sessionType of window.sessionTypes) {
                sessionTypesHtml += `<div class="form-check">
                    <input type="checkbox" class="form-check-input" name="session-type-${sessionType.id}">
                    <label class="form-check-label" for="session-type-${sessionType.id}">${sessionType.name}</label>
                </div>`;
            }
            sessionTypesHtml += `</div>`;
            
            sessionDiv.innerHTML = `
                <form action="/api/v1/bookings/types/${session.id}" class="my-3 pb-4">
                    <h3>Session #${session.id}</h3>
                    <input type="hidden" name="id" value="${session.id}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" value="${session.name}" placeholder="Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea name="description" placeholder="Description" class="form-control">${session.description}</textarea>
                    </div>
                    ${sessionTypesHtml}
                    <input type="submit" value="Update Booking Type" class="btn btn-primary">
                    <input type="submit" value="Delete Booking Type" class="btn btn-danger">
                </form>
            `;

            bookingTypes.appendChild(sessionDiv);
            sessionDiv.addEventListener("submit",
                function(event) {
                    event.preventDefault();
                    
                    const id = sessionDiv.querySelector("input[name=id]").value;
                    const name = sessionDiv.querySelector("input[name=name]").value;
                    const description = sessionDiv.querySelector("textarea[name=description]").value;
                    const session_type = sessionDiv.querySelector("select[name=session_type]").value;

                    let mode = "update";
                    if (event.submitter.value == "Delete Booking Type") {
                        mode = "delete";
                    }

                    individualBookingTypeCallback(id, name, description, session_type, mode);
                }
            );
            
        }
    }

    async function individualBookingTypeCallback(id, name, description, session_type, mode) {
        if (mode == "delete") {
            const response = await fetch('/api/v1/bookings/session', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': csrf
                },
                body: JSON.stringify({
                    "id": id
                })
            });
            const json = await response.json();

            if (json.success) {
                const element = document.getElementById("sessions").querySelector(`div[data-id="${id}"]`);
                element.remove();
            }
        } else {
            const response = await fetch('/api/v1/bookings/session', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': csrf
                },
                body: JSON.stringify({
                    "id": id,
                    "name": name,
                    "description": description,
                    "session_type": session_type
                })
            });
        }
    }

    document.getElementById("createSessionTypeForm").addEventListener("submit", async function(event) {
        event.preventDefault();
        const form = document.getElementById("createSessionTypeForm");
        const data = {
            "name": form.querySelector("[name=name]").value,
            "start_date": form.querySelector("[name=start_date]").value,
            "end_date": form.querySelector("[name=end_date]").value,
        }
        const response = await fetch('/api/v1/bookings/session_type', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            },
            body: JSON.stringify(data)
        });
        const json = await response.json();

        if (json.success) {
            console.log("YAY!")
        }
    });

    document.getElementById("createSessionForm").addEventListener("submit", async function(event) {
        event.preventDefault();
        const form = document.getElementById("createSessionForm");
        const data = {
            "name": form.querySelector("[name=name]").value,
            "description": form.querySelector("[name=description]").value,
            "session_type": form.querySelector("[name=session_type]").value, 
        }
        const response = await fetch('/api/v1/bookings/session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            },
            body: JSON.stringify(data)
        });
        const json = await response.json();

        if (json.success) getSessions();
    });
    
    async function getBookings() {
        const response = await fetch('/api/v1/bookings/view', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        console.log(json);
    }

    async function deleteBookings() {
        const response = await fetch('/api/v1/bookings/delete', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        console.log(json);
    }

    async function deleteBookingTypes() {
        const response = await fetch('/api/v1/bookings/types/delete', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        console.log(json);
    }
</script>

{% endblock %}