<!-- extends basic page.html -->
{% extends "page.html" %}
{% block content %}

<style>
/* 
    Change as needed to your theme
*/
:root {
    --c1: #FFB001;
    --c2: #2F1244;
    --c3: #D80140;
    --c4: #171F69;

    --c3-h: #a40030;
    --purple: #6f42c1;
    --purple-h: #51308e;

    --black: #000;
    --font-color: #fff;
    --background: #2f1244;
    --background-rgb: 47,18,68;
    --primary: #FFB001;
    --highlight: #d80140;
    --bs-font-sans-serif: 'Pattanakarn', sans-serif;
    --font-primary: 'Montserrat', sans-serif;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--font-color);
    background-color: var(--background);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    min-height: 100vh;
}

html {
    background-color: var(--background);
}

#bookings {
    overflow-x: scroll;
}

#bookings::-webkit-scrollbar {
    background: transparent;
    height: 8px;
}

#bookings::-webkit-scrollbar-thumb {
    background: var(--c1); /* color of the scroll thumb */
    border-radius: 15px;
}

#schedule-selection {
    background: var(--c4) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    color: var(--font-color);
    border: 2px solid var(--c1);
    box-shadow: none;
}

#schedule-selection option {
    background-color: var(--c4);
    color: var(--font-color);
}

.select-container {
    background: var(--c4);
}

.table {
    background-color: var(--background);
    color: var(--font-color);
    border: 2px solid var(--primary);
}

th, td {
    border: 1px solid var(--primary)!important;
}

.btn-book {
    background-color: var(--c2);
    color: var(--font-color);
}
.btn-book:hover {
    background-color: var(--c1);
    color: var(--black);
}

.btn-booked {
    background-color: var(--c3);
    color: var(--font-color);
}
.btn-booked:hover {
    background-color: var(--c3-h);
    color: var(--font-color);
}

.btn-yours {
    background-color: var(--purple);
    color: var(--font-color);
}
.btn-yours:hover {
    background-color: var(--purple-h);
    color: var(--font-color);
}

.toast {
    border: 2px solid var(--c1);
    background-color: hsl(0deg 0% 0% / 60%);
	}
.toast-header {
    background-color: var(--c3);
    color: var(--font-color);
}
.toast-header .close {
    color: var(--font-color);
    text-shadow: none;
    opacity: 1;
}
.modal-content {
    background-color: var(--background);
    border: 2px solid var(--c1);
}
.modal-backdrop.show {
    opacity: 0.75;
}

</style>

<main class="container pb-3">
    <div class="align-items-center row">
        <div class="col-12 col-md-6 col-lg-4 mb-1">
            <h1 class="mr-3">Bookings</h1>
        </div>
        <div class="col-12 col-md-6 col-lg-8 mb-1">
	    <div class="select-container">
		<select class="form-control" id="schedule-selection">
                    <option disabled>Loading...</option>
                </select>
	    </div>
        </div>
    </div>

    <div class="row mt-3" id="schedule-descriptions">
        <div class="col">
            <p>Loading descriptions...</p>
        </div>
    </div>
    
    <div id="bookings" class="mt-3">
        <p>Loading table...</p>
    </div>


    <div class="modal fade" id="delete-booking-modal" tabindex="-1" aria-labelledby="delete-model-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="delete-model-label">Confirm Booking Cancellation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Note that you may rebook this slot at a later time, but it will be subject to availability.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-yours" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-booked" id="delete-booking-modal-btn">Confirm Cancellation</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="booking-conflict-toast" class="toast hide position-fixed bottom-0 right-0 p-3 m-3" data-delay="3000" style="z-index: 5; right: 0; bottom: 0;">
        <div role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">Error</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body" id="booking-conflict-toast-body">
                Your team already has 2 hours worth of bookings for this day
            </div>
        </div>
    </div>
</main>

<script>
    const csrf = init.csrfNonce;
    window.admin = false;

    // on ready, get all bookings
    document.addEventListener("DOMContentLoaded", async function() {
        // this is fine as server side already hides team_ids from non-admins
        if (init.teamName == "Admin") {
            await loadAdmin();
        }
        const scheduleItems = await getScheduleItems();
        if (!scheduleItems.success) return console.error("Failed to get schedule items");
        
        window.scheduleItems = scheduleItems.data;
        createSessionTypeOptions();
    });

    async function loadAdmin() {
        // this is fine up to 50 teams so using it we reach that point
        // left as an exercise to the reader a better way, e.g. custom route likely
        const response = await fetch('/api/v1/teams', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        if (!json.success) return console.error("Failed to get teams");
        window.teams = json.data;
        window.admin = true;
    }

    async function loadBookingInformation(schedule_id) {
        const sessions = await getSesssions(schedule_id);
        const bookings = await getBookings(sessions);
        await createBookingTable(schedule_id, sessions, bookings);
        await addScheduleDescriptions(sessions);
    }

    function createSessionTypeOptions() {
        const items = window.scheduleItems;
        const selectElement = document.getElementById("schedule-selection");
        selectElement.innerHTML = "";
        for (item of items) {
            selectElement.innerHTML += `<option value=${item.id}>${item.name}</option>`;   
        }
        selectElement.onchange = function() {
            loadBookingInformation(this.value);
        }
        loadBookingInformation(items[0].id);
    }

    async function addScheduleDescriptions(sessions) {
        const scheduleDescriptions = document.getElementById("schedule-descriptions");
        scheduleDescriptions.innerHTML = "";
        if (window.scheduleItem.header != "") {
            scheduleDescriptions.innerHTML = `
                <div class="col-12">
                    ${window.scheduleItem.header}
                </div>
            `;
            return;
        }
        for (session of sessions.data) {
            const scheduleDescription = document.createElement("div");
            scheduleDescription.classList.add("col-12", "col-md-6", "col-lg-4", "mb-1");

            scheduleDescription.innerHTML = `
                <h2>${session.name}</h2>
                ${session.description}
            `;
            scheduleDescriptions.appendChild(scheduleDescription);
        }
    }

    async function createBookingTable(schedule_id, sessions, bookings) {
        window.scheduleItem = window.scheduleItems.find(item => item.id == schedule_id);
        
        const startDate = new Date(scheduleItem.start_date);
        const startTime = startDate.getHours() * 60 + startDate.getMinutes(); 
        const endDate = new Date(scheduleItem.end_date);
        const endTime = endDate.getHours() * 60 + endDate.getMinutes();

        const segment = scheduleItem.segment;

        // generate table html
        let html = `<table class="table table-bordered text-center mb-1">
            <thead>
                <tr>
                    <th class="px-1 p-0" scope="col">Time</th>`
        // add booking type headers
        for (let i = 0; i < sessions.data.length; i++) {
            html += `<th class="px-1 p-0" scope="col" data-id="${sessions.data[i].id}">${sessions.data[i].name}</th>`
        }
        html += `</tr>
            </thead>`

        // generate rows
        let rows = []
        let bookingOffset = 0;
        // move booking offset to first booking after start time
        while (bookingOffset < bookings.data.length) {
            const booking = bookings.data[bookingOffset];
            const bookingTime = new Date(booking.booking_time).getTime();
            if (bookingTime < startDate.getTime()) {
                bookingOffset++;
            } else {
                break;
            }
        }
        for (let i = startTime; i < endTime; i += segment) {
            const curHour = Math.floor(i / 60);
            const curMin = i % 60;

            const timeString = `${curHour}:${curMin < 10 ? "0" + curMin : curMin}`;

            let bookingFields = "";
            let curTime = new Date(startDate);
            curTime.setHours(curHour);
            curTime.setMinutes(curMin);
            curTime = curTime.getTime();
            
            let curTimeBookings = [];
            // loop through bookings for this time and store in curTimeBookings
            while (bookingOffset < bookings.data.length) {
                const booking = bookings.data[bookingOffset];
                const bookingTime = new Date(booking.booking_time).getTime();
                if (bookingTime == curTime) {
                    curTimeBookings.push(booking);
                    bookingOffset++;
                } else {
                    break;
                }
            }

            // reading from curTimeBookings, add booking fields
            for (let j = 0; j < sessions.data.length; j++) {
                let bookingField = `<td class="p-0">`
                // loop through curTimeBookings and add bookingField if type matches
                for (let k = 0; k < curTimeBookings.length; k++) {
                    const booking = curTimeBookings[k];
                    if (booking.session_id == sessions.data[j].id) {
                        if (init.teamId == booking.team_id) {
                            bookingField += `<button class="btn btn-yours w-100" data-time="${timeString}" data-type="${sessions.data[j].id}" onclick="deleteBookingModal(this)">Your Booking</button>`
                        } else {
                            let teamName = "Booked";
                            if (window.admin) {
                                const team = window.teams.find(team => team.id == booking.team_id);
                                if (team) teamName = team.name;
                            }
                            bookingField += `<button class="btn btn-booked w-100">${teamName}</button>`
                        }
                    }
                }
                if (bookingField == `<td class="p-0">`) {
                    bookingField += `<button class="btn btn-book w-100" data-time="${timeString}" data-type="${sessions.data[j].id}" onclick="createBooking(this)">Book</button>`
                }
                bookingField += `</td>`
                bookingFields += bookingField;
            }

            const row = `<tr>
                <td class="p-0 px-1 align-middle">${timeString}</td>
                ${bookingFields}
            </tr>`
            rows.push(row)
        }

        html += rows.join("")
        html += "</table>"
        const bookingsDiv = document.getElementById("bookings");
        bookingsDiv.innerHTML = html;
    }
    
    function deleteBookingModal(el) {
        let time = el.getAttribute("data-time");
        let type = el.getAttribute("data-type");

        let delBtn = document.getElementById("delete-booking-modal-btn");
        delBtn.setAttribute("onclick", `deleteBooking('${time}', ${type})`);

        $('#delete-booking-modal').modal('show');
    }

    async function deleteBooking(segment, session_id) {
        const formatSegment = segment.length < 5 ? "0" + segment : segment;
        let time = new Date(window.scheduleItem.start_date.slice(0, 10) + "T" + formatSegment + ":00.000Z");
        time = new Date(time.getTime() + (time.getTimezoneOffset() * 60000)).toISOString();
        const data = {
            "booking_time": time,
            "session_id": session_id
        }
        const response = await fetch('/api/v1/bookings', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            },
            body: JSON.stringify(data)
        });
        const json = await response.json();
        if (json.success) {
            // query button by time and type to get element
            let el = document.querySelector(`button[data-time="${segment}"][data-type="${session_id}"]`);
            el.innerHTML = "Book";
            el.classList.remove("btn-yours");
            el.classList.add("btn-book");
            el.setAttribute("onclick", "createBooking(this)");
            $('#delete-booking-modal').modal('hide');
        }
    }
        

    async function createBooking(el) {
        let segment = el.getAttribute("data-time");
        let session_id = el.getAttribute("data-type");
        const formatSegment = segment.length < 5 ? "0" + segment : segment;
        let time = new Date(window.scheduleItem.start_date.slice(0, 10) + "T" + formatSegment + ":00.000Z");
        time = new Date(time.getTime() + (time.getTimezoneOffset() * 60000)).toISOString();
        const data = {
            "team_id": init.teamId,
            "booking_time": time,
            "session_id": session_id
        }
        const response = await fetch('/api/v1/bookings', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            },
            body: JSON.stringify(data)
        });
        const json = await response.json();
        if (json.success) {
            el.innerHTML = "Your Booking";
            el.classList.remove("btn-book");
            el.classList.add("btn-yours");
            el.setAttribute("onclick", "deleteBookingModal(this)");
        }
        else {
            $('#booking-conflict-toast-body').text(json.error);
            $('#booking-conflict-toast').toast('show');
        }
    }

    async function getBookings(sessions) {
        const response = await fetch('/api/v1/bookings', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();

        // instead filter so only bookings with session_id in sessions are returned
        let filtered = json.data.filter(booking => {
            return sessions.data.some(type => type.id == booking.session_id);
        });
        // sort by booking_time
        filtered.sort((a, b) => {
            const aTime = new Date(a.booking_time);
            const bTime = new Date(b.booking_time);
            return aTime - bTime;
        });
        
        return {data: filtered};
    }

    async function getSesssions(schedule_id) {
        const response = await fetch(`/api/v1/bookings/session?schedule_id=${schedule_id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        return json;
    }

    async function getScheduleItems() {
        const response = await fetch('/api/v1/bookings/schedule', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrf
            }
        });
        const json = await response.json();
        return json;
    }
</script>

{% endblock %}
